*.vsidx
/.vs/
/DistributedLoggingSystem/.vs/
/.vs/Projects/v17/.wsuo
/DistributedLoggingSystem/.vs/DistributedLoggingSystem/DesignTimeBuild/.dtbcache.v2
/DistributedLoggingSystem/.vs/DistributedLoggingSystem/FileContentIndex/39a1f978-9863-459b-8f97-2ce0e83f775c.vsidx
/DistributedLoggingSystem/.vs/DistributedLoggingSystem/v17/.suo
/DistributedLoggingSystem/bin/Debug/net8.0
/DistributedLoggingSystem/.vs/DistributedLoggingSystem/v17/.futdcache.v2
/DistributedLoggingSystem/Migrations
